/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #f1f1f1;
  font-family: "Poppins";
  transition: all 0.5s;
  height: 100vh;
}
/* Reusable */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  padding: .8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.primary-button:hover {
  background-color: #106e53;
}

.secondary-button {
  padding: 1rem 1.2rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #262626;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.secondary-button:hover {
  background-color: #5e5e5e;
}

.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  gap: 2rem;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

.loader-text {
  color: white;
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* navigation bar */
header {
  background: #ffffff;
}

header .container {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header a {
  color: #000;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 15rem;
}

nav {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.font-nav {
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.user {
  font-weight: 400;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: .5rem;
  border-radius: .5rem;
}
/* homepage */
.home {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title{
  font-size: 4.2rem;
  font-weight: 600;
  text-align: center;
}
.workouts {
  max-width: 120rem;
}

/* Workout Component */

.workout-card {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin: 4rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: auto;
  background-color: #ffffff;
}

  .workout-card:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  }

.workout-img {
  width: 30%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 2rem;
  background-color: #fff3ad;
}

.workout-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.workout-details {
  width: 70%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px auto;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: .5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #9ccaa72b;
}

.workout-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.workout-title h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: var(--primary);
}

.workout-icon {
  border: 1px solid black;
  padding: .7rem;
  color: black;
  border-radius: 100%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-icon:hover {
  scale: 105%;
  transition: all .3s;
}

.trash:hover {
  background-color: var(--error);
}

.edit:hover {
  background-color: #ffa748;
}

.workout-info {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.workout-info-labels,
.workout-info-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.workout-info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.workout-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.workout-btn {
  padding: .8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #1aac83;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.workout-btn:hover {
  background-color: #159873;
}

/* Workout Form + Edit Workout Form */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 4rem 0;
}

.card {
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.8rem;
  width: 100%;
  max-width: 480px;
}

.button-back {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

.button-back:hover {
  color: var(--primary);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.choices {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form-section label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-section input,
.form-section select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}

.form-section input.error,
.form-section select.error {
  border-color: #ff4d4f;
}

.button-submit {
  background-color: #52c41a;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 8px;
}


div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

 select.error {
  border: 1px solid var(--error);
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* Workout Page */

.workout-page {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4rem;
  }

.exercises-container {
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drag-instructions {
  margin: 2rem;
  max-width: 35rem;
  font-size: 18px;
  font-weight: 600;
}

.exercises {
  width: 40rem;
  max-width: 100rem;
}

.no-exercises {
  padding: 5rem 0;
  font-size: 1.8rem;
  color: var(--error);
}

/* Exercise Component */

.exercise-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.exercise-card:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.exercise-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.exercise-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem;
}

.exercise-title h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

.exercise-icon {
  color: black;
  cursor: pointer;
}

.exercise-trash:hover {
  color: var(--error);
}

.exercise-trash:hover > svg {
  transform: scale(1.5);
  transition: all 0.3s;
}

.exercise-info {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.exercise-info-labels {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exercise-info-values {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise-info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.exercise-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.exercise-grip {
  cursor: grab;
  color: #727272;
}

.exercise-grip:hover {
  color: #000;
}

.exercise-edit:hover{
  color: #ffa748;
}

.exercise-edit:hover > svg {
  transform: scale(1.5);
  transition: all 0.3s;
}

/* Exercise Details */

.exercise-details-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.exercise-details-card {
  width: 80%;
  max-width: 120rem;
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.exercise-title {
  text-align: center;
  margin-bottom: 10px;
}

.imgs-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  margin: auto 6rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.imageStart,
.imageEnd {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: .5rem;
}

.explanation-container {
  background-color: #f1f1f1;
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
}

.explanation {
  margin: 0;
}

.exercise-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-info-labels,
.exercise-info-values {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .workout-card {
    flex-direction: column;
    padding: 2rem;
    margin: 4rem;
  }

  .workout-img {
    margin-right: 0;
    height: 20rem;
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }

  .workout-details {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0.5rem;
}
}